<%= @error if @error %>

<form action="/sessions" method="post">
	<fieldset>
		<legend>Login</legend>
	<label for="email">Email:</label>
	<input type="email" name="email" placeholder="me@example.com">
	<label for="password">Password:</label>
	<input type="password" name="password">

	<input type="submit" value="login">
	</fieldset>
</form>