
<section>
<ul>
  	<% @user.errors.full_messages.each do |msg| %>
  		<li><%= msg %></li>  	
  	<% end %>
  </ul>
</section>


<form action="/users/new" method="post">
	<fieldset>
		<legend>Signup</legend>
		<label for="name">Name:</label>
		<input type="text" name="name"value="<%= @user.name %>" placeholder="John Doe">
		<label for="email">Email</label>
		<input type="email" name="email" value="<%= @user.email%>" placeholder="me@example.com"> 
		<label for="password">Password</label>
		<input type="password" name="password" placeholder="password">
		<label for="confirm_password">Password Confirmation</label>
		<input type="password" name="confirm_password" placeholder="password confirmation">

		<input type="submit" value="Enter the world of flashcards">
	</fieldset>
</form>