<div class="form-style">
<h2>Signup</h2>  
<section>
<ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>   
    <% end %>
  </ul>
</section>
<ul>
<form action="/users/new" method="post">
		<li><label for="name">Name:</label>
		<input type="text" name="name"value="<%= @user.name %>" placeholder="John Doe"></li>
		<li><label for="email">Email</label>
		<input type="email" name="email" value="<%= @user.email%>" placeholder="me@example.com"> </li>
		<li><label for="password">Password</label>
		<input type="password" name="password" placeholder="password"></li>
		<li><label for="confirm_password">Password Confirmation</label>
		<input type="password" name="confirm_password" placeholder="password confirmation"></li>

		<li><input type="submit" value="Enter the world of flashcards"></li>

</form>
</ul>
</div>
