  <section class="editorWrap">

    <div class="editor"><!--  animate fadeIn -->
      <div class="menu"></div><!-- end .menu -->
      <div class="code">
          <form class="deck-dropdown" action="/users/new" method="post">
          <% if @user%>
            <% @user.errors.full_messages.each do |msg| %>
              <p><%= msg %></p>   
            <% end %>
          <% end %>  

          <p>Sign-up</p>
            <p>===================================================</p>
            
            <p>Name:</p>
           <input type="text" name="name" value="<%= @user.name %>" placeholder="Enter Name Here" class="start-location">
           <p>Email:</p>
            <input type="email" name="email" value="<%= @user.email%>" placeholder="me@example.com"> 
            <p>Password:</p>
            <input type="password" name="password" placeholder="password">
            <p>Confirm Password:</p>
            <input type="password" name="confirm_password" placeholder="password confirmation">
            <input type="submit" value="Fill in the required info and press ENTER">
            
          </form>
      </div>
    </div>
  </section>  
  <p>&nbsp;</p> 



