<a href="#" class="menu-main apple-logo" style=""></a>
  <ul class='menu-user' style="display: none;">
  <% unless current_user %>
  
      <li><a href="/users/new">Signup...</a></li>
      <li><a href="/users/login">Login...</a></li>
    
   <% else %> 
    <li>
    <form class="logout-button" action="/users/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out <%= current_user.name.capitalize %>...">
    </form></li>    
    
  <% end %>
  </ul>
</li>
