<div class="answer">
  <h1>You are correct</h1>
  <h1>The answer is Julian.</h1>
</div>

<form action="/game/1/next" method="get">

  <input type="submit" value="Next">
</form>

<form action="/game/1/done" method="get">

  <input type="submit" value="I Quit Cuz I suck">
</form>
