<div class="question">
  <h1><%= @card.question %></h1>
  <h6><%= @card.answer %></h6>
</div>

<form action="/deck/cards/<%= @card.id %>/guess" method="post">
  <input type="text" name="submit_guess">
  <input type="submit" value="Guess">
</form>
