

<div class="question">
  <h1>What is your name noob?</h1>
</div>

<form action="/game/1/question/1/guess" method="get">
  <input type="text" name="submit_guess">
  <input type="submit" value="Guess">
</form>
