<div class="landing-page-stats">
<h1>Current Game</h1>
<table class="stats-list">
  <tr>
    <th>Num</th>
    <th>Deck</th>
    <th>Deck Length</th>
    <th>Correct</th>
    <th>Incorrect</th>
    <th>% correct</th>
  </tr>
  <tr>
    <td>8</td>
    <td>States</td>
    <td><%= @round.deck.cards.length %>
    <td><%= @round_stats.select { |x| x.correct}.count %></td>
    <td><%= @round_stats.select { |x| !x.correct}.count %></td>
    <td><%= "%.2f" % (((@round_stats.select { |x| !x.correct}.count.to_f) / (@round_stats.length) ) * 100)  %></td>
  </tr>
  
</table>
<a href="/users">Back to main page</a>
</div>

