<div class="landing-page-stats">
<h1>Current Game</h1>
<table class="stats-list">
  <tr>
    <th>Num</th>
    <th>Deck</th>
    <th>Points</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>8</td>
    <td>States</td>
    <td>100</td>
    <td>500</td>
  </tr>
  
</table>
<a href="/users">Back to main page</a>
</div>
