  <section class="editorWrap">

    <div class="editor"><!--  animate fadeIn -->
      <div class="menu"></div><!-- end .menu -->
      <div class="code">
          <form class="deck-dropdown">
            <p>Welcome To Flashcards</p>
            
            <p>Have an account? Please <a href="/users/login">Login</a></p>
           
            <p>Otherwise <a href="/users/new">Signup</a>...and be amazed</p>
            </form>
      </div>
    </div>
  </section>  

  <p>&nbsp;</p> 
