<h2>Stats for Round</h2>
 
 Round <%= @round.id %>, Deck <%= @round.deck.name %>:

 <div id='stats'>
  Total Questions answered: <!-- goes here -->

  Questions correct: <!-- goes here -->

  Questions wrong: <!-- goes here -->

  Percentage right: 
</div>




